@keyframes animation {
    0%{
        transform:translateX(5px)
    }
    
    25%{
        transform: translateY(-5px)
    }

    50%{
        transform: translateX(-5px)
    }
    
    75%{
        transform: translateY(5px)
    }
    
    100%{
        transform: translateX(5px)
    }

}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b7ced3;
    outline: #2f4b54 solid 5px;
    
}

li a {
    float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #2f4b54;
}

audio{
    float: right;
    padding-top: 0dp;
    background-color: #b7ced3;
    outline: #2f4b54 solid 5px;
    height: 46px;
}

aside {
    float: left;
    width: 20%;
    height: 100%;
    background: #b7ced3;
    padding: 15px;
}

aside h1, h3 {
    text-align: center;
}

aside p{
    text-align: justify;
}


.portrait img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 50%;   
    border-style: dotted;
    animation: animation 3s;
    animation-iteration-count: infinite;
}

body{
    background-color: #f5f1ed;
}

body h1 {
    padding-top: 10px;
    text-align: center;
}

li b {
    list-style-type: circle;
}

.CV  {
    padding-left: 310px;
    padding-right: 40px;
    text-align: justify;
}

form {
    padding-left: 300px;
    padding-right: 40px;
}

form {
    height: 480px;
    margin-top: 40px;
    background-color: #b7ced3;
}

footer {
    margin-top: 0px;
    padding-left: 15px;
    background-color: #b7ced3;
    height:120px;
    outline: #2f4b54 solid 5px;
}


footer p{
        margin-top: 0px;

    text-align: center;
}

