ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

aside {
    float: left;
    width: 20%;
    height: 100%;
    background: #b7ced3;
    padding: 15px;
}

aside h1, h3 {
    text-align: center;
}

img photo{
    border-radius: 50%;   
    border-style: dotted;
    border-bottom-color: aqua;
}

body h1 {
    padding-top: 10px;
    text-align: center;
}

body p {
    background: #567;
    padding-left: 300px;
    padding-right: 30px;
}

form {
    padding-left: 300px;
    padding-right: 30px;
}

